header{
    font-size:30px;
    text-align: center;
    font-weight: bold;
}

.flex-container {
    margin: 5px;
    padding:5px;
    border-bottom-style: double;
    text-align: center;
}

h3{
    margin-bottom: 5px;
}

h6{
    margin-top: 1px;
}

#checkout{
    border-style: double;
    text-align: center;
    background-color: bisque;
    margin: 0 25% 0 25%;
    padding: 2%;
}

#btnOrder, 
button{
    font-size: 25px;
    background-color: white;
    padding: 2%;
}
